# Required
scheme: sftp
host: your_host.com
username: your_user
password: your_pass

# Optional
path: staging
exclude:
    - .gitignore
    - dandelion.yml
    - production.yml
    - .rvmrc
    - .ruby-version
revision_file: .revision
