<div class="container-fluid">
  <% results.each do |result| %>
    <div class="row-fluid">
      <div class="span6 offset3">
        <%= [result.name, result.phone].join ' ' %>
      </div>
    </div>
  <% end %>
</div>
