<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6 offset3">
      <h1>Results</h1>
    </div>
  </div>

  <% results.each do |result| %>
    <div class="row-fluid">
      <div class="span6 offset3 well">
        <%= [result.name, result.phone].join ' ' %>
        <%= result.booking %>
        <%= result.service %>
      </div>
    </div>
  <% end %>
</div>
